.content {
  padding: 9px 0;
  border-radius: 5px;

  @include media-breakpoint-up(lg) {
    margin-top: 10px;
    padding: 56px 40px;
    background-color: var(--bs-white);
    border-radius: 10px;
  }
}
