.button-overview {
  button {
    font-size: 12px;
    line-height: 16px;
    background-color: var(--faded-blue);
    border: 1px solid var(--faded-blue);
    color: var(--white);
    i {
      font-size: 16px;
      color: var(--warm-yellow);
    }
  }
  button:focus,
  button:focus-visible {
    font-size: 8px;
    background-color: transparent;
    border: 1px solid var(--faded-blue);
    color: var(--faded-blue);
  }
}
