.modal-fade {
    direction: rtl;
    background-color: var(--bs-white);

    @include media-breakpoint-up(lg) {
        direction: rtl;
        background-color: transparent;
    }
}

.close {
    width: 39px;
    height: 39px;
    background-color: var(--tomato);
    border-radius: 50%;
    border-color: transparent;
    color: var(--bs-white);
    margin: 10px 188px 20px 188px;
    font-size: xx-large;

    @include media-breakpoint-up(lg) {
        width: 64px;
        height: 64px;
        margin: 10px 44px 20px;
    }
}

.modal-header {
    background-color: var(--tomato);
    color: var(--bs-white);
    font-size: 15px;
    height: 42px;
    line-height: 20px;

    i {
        font-size: 21px;
        color: var(--bs-white);
    }

    @include media-breakpoint-up(lg) {
        background-color: var(--tomato);
        color: var(--bs-white);
        font-size: 30px;
        height: 66px;

        i {
            font-size: 40px;
            color: var(--bs-white);
        }
    }
}

.modal-body {
    height: 300px;
    width: 300px;

    img {
        margin: 20px 0 12px;
    }

    @include media-breakpoint-up(lg) {
        height: 430px;
        width: 350px;
    }
}

.modal-button {
    flex-wrap: wrap;

    button {
        font-family: IRANSans;
        width: 159px;
        height: 33px;
        font-size: 16px;
        line-height: 21px;
        background-color: var(--tomato);
        border-radius: 15px;
        color: var(--bs-white);
        margin: 8px 0px;

        &:active {
            background-color: var(--bs-white);
            color: var(--tomato);
            border-color: 1px solid var(--tomato);
        }

    }
       @include media-breakpoint-up(lg){
button{
    width: 235px;
  height: 50px;
}


       }

}