.buttons {
  button {
    padding: 6px;
    line-height: 11px;
    font-size: 8px;
    background-color: var(--faded-blue1);
    border: 1px solid var(--faded-blue1);
    color: var(--warm-grey);
    i {
      font-size: 16px;
      color: var(--warm-yellow);
    }
    @include media-breakpoint-up(lg) {
      font-size: 20px;
      line-height: 27px;

      i {
        font-size: 35px;
      }
    }
  }
  button:focus,
  button:focus-visible {
    font-size: 8px;
    background-color: transparent;
    border: 1px solid var(--faded-blue1);
    color: var(--warm-grey);
    i {
      font-size: 16px;
      color: var(--warm-yellow);
    }
    @include media-breakpoint-up(lg) {
      font-size: 20px;
      line-height: 27px;

      i {
        font-size: 35px;
      }
    }
    &:active {
      background-color: transparent;
      border: 1px solid var(--faded-blue1);
      color: var(--warm-grey);
    }
  }
}
