<div class="items d-flex justify-content-between p-3 mb-3 rounded-pill">
  <div class="d-flex gap-4 gap-lg-5">
    <button type="button" class="item-button rounded-circle">
      <i class="ri-delete-bin-6-fill"></i>
    </button>
    <div class="move-forward-one-step d-flex align-items-center gap-1">
      <span>move</span> <span>forward</span> <span>one</span> <span>step</span>
    </div>
  </div>
  <div class="flex-lg-grow-1 d-lg-flex justify-content-end gap-5">
    <button type="button" class="item-buttons rounded-circle">
      <i class="ri-file-list-line"></i>
    </button>
    <button type="button" class="item-buttons rounded-circle">
      <i class="ri-star-line"></i>
    </button>
    <button type="button" class="item-buttons rounded-circle">
      <i class="ri-error-warning-line"></i>
    </button>
  </div>
</div>
<div class="items d-flex justify-content-between p-3 mb-3 rounded-pill">
  <div class="d-flex gap-4 gap-lg-5">
    <button type="button" class="item-button rounded-circle">
      <i class="ri-delete-bin-6-fill"></i>
    </button>
    <div class="move-forward-one-step d-flex align-items-center gap-1">
      <span>move</span> <span>forward</span> <span>one</span> <span>step</span>
    </div>
  </div>
  <div class="flex-lg-grow-1 d-lg-flex justify-content-end gap-5">
    <button type="button" class="item-buttons rounded-circle">
      <i class="ri-file-list-line"></i>
    </button>
    <button type="button" class="item-buttons rounded-circle">
      <i class="ri-star-line"></i>
    </button>
    <button type="button" class="item-buttons rounded-circle">
      <i class="ri-error-warning-line"></i>
    </button>
  </div>
</div>
<div class="items d-flex justify-content-between p-3 mb-3 rounded-pill">
  <div class="d-flex gap-4 gap-lg-5">
    <button type="button" class="item-button rounded-circle">
      <i class="ri-delete-bin-6-fill"></i>
    </button>
    <div class="move-forward-one-step d-flex align-items-center gap-1">
      <span>move</span> <span>forward</span> <span>one</span> <span>step</span>
    </div>
  </div>
  <div class="flex-lg-grow-1 d-lg-flex justify-content-end gap-5">
    <button type="button" class="item-buttons rounded-circle">
      <i class="ri-file-list-line"></i>
    </button>
    <button type="button" class="item-buttons rounded-circle">
      <i class="ri-star-line"></i>
    </button>
    <button type="button" class="item-buttons rounded-circle">
      <i class="ri-error-warning-line"></i>
    </button>
  </div>
</div>
<div class="items d-flex justify-content-between p-3 mb-3 rounded-pill">
  <div class="d-flex gap-4 gap-lg-5">
    <button type="button" class="item-button rounded-circle">
      <i class="ri-delete-bin-6-fill"></i>
    </button>
    <div class="move-forward-one-step d-flex align-items-center gap-1">
      <span>move</span> <span>forward</span> <span>one</span> <span>step</span>
    </div>
  </div>
  <div class="flex-lg-grow-1 d-lg-flex justify-content-end gap-5">
    <button type="button" class="item-buttons rounded-circle">
      <i class="ri-file-list-line"></i>
    </button>
    <button type="button" class="item-buttons rounded-circle">
      <i class="ri-star-line"></i>
    </button>
    <button type="button" class="item-buttons rounded-circle">
      <i class="ri-error-warning-line"></i>
    </button>
  </div>
</div>
<div class="items d-flex justify-content-between p-3 mb-3 rounded-pill">
  <div class="d-flex gap-4 gap-lg-5">
    <button type="button" class="item-button rounded-circle">
      <i class="ri-delete-bin-6-fill"></i>
    </button>
    <div class="move-forward-one-step d-flex align-items-center gap-1">
      <span>move</span> <span>forward</span> <span>one</span> <span>step</span>
    </div>
  </div>
  <div class="flex-lg-grow-1 d-lg-flex justify-content-end gap-5">
    <button type="button" class="item-buttons rounded-circle">
      <i class="ri-file-list-line"></i>
    </button>
    <button type="button" class="item-buttons rounded-circle">
      <i class="ri-star-line"></i>
    </button>
    <button type="button" class="item-buttons rounded-circle">
      <i class="ri-error-warning-line"></i>
    </button>
  </div>
</div>
