
<div class="modal fade modal-fade report-modal" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel"
    aria-hidden="true">
    <button type="button" class="close d-flex justify-content-center align-items-center" data-dismiss="modal"
        aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center ">
                <div class="modal-title d-flex justify-content-center align-items-center gap-2 " id="reportModalLabel">
                    مرور<i class="ri-book-open-line"></i>
                </div>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center align-items-center modal-information">
                    <i class="ri-information-line"></i></i><span>با کلیک بر روی جمله میتوانید معادل فارسی آن را مشاهده
                        کنید</span>
                </div>
                <div class="report-items d-flex flex-column">
                    <div class="report-item">
                        <div class="d-flex justify-content-between align-items-center report-item-header">
                            <div class="modal-checkbox">
                                <div>یادگیری مجدد</div>
                                <div class="form-check d-flex justify-content-center mt-2">
                                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox"
                                        value="option1" aria-label="...">
                                </div>
                            </div>
                            <div class="d-flex align-items-center report-item-player">
                                <span>I go to school</span><i class="ri-play-circle-line"></i>
                            </div>
                        </div>
                        <div class="footer">
                            <label for="">راند آموزشی</label>
                            <label for="">تسلط نهایی</label>
                            <label for="">جعبه 3 </label>
                            <label for="">جعبه 2 </label>
                            <label for="">جعبه 1</label>
                            <div>2<i class="ri-arrow-up-s-fill"></i></div>
                            <div>23%<i class="ri-arrow-up-s-fill"></i></div>
                            <div>23%<i class="ri-arrow-up-s-fill"></i></div>
                            <div>23%<i class="ri-arrow-up-s-fill"></i></div>
                            <div>81%<i class="ri-arrow-up-s-fill"></i></div>

                        </div>
                    </div>
                </div>
                <div class="report-items d-flex flex-column">
                    <div class="report-item">
                        <div class="d-flex justify-content-between align-items-center report-item-header">
                            <div class="modal-checkbox">
                                <div>یادگیری مجدد</div>
                                <div class="form-check d-flex justify-content-center mt-2">
                                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox"
                                        value="option1" aria-label="...">
                                </div>
                            </div>
                            <div class="d-flex align-items-center report-item-player">
                                <span>I go to school</span><i class="ri-play-circle-line"></i>
                            </div>
                        </div>
                        <div class="footer">
                            <label for="">راند آموزشی</label>
                            <label for="">تسلط نهایی</label>
                            <label for="">جعبه 3 </label>
                            <label for="">جعبه 2 </label>
                            <label for="">جعبه 1</label>
                            <div>2<i class="ri-arrow-up-s-fill"></i></div>
                            <div>23%<i class="ri-arrow-up-s-fill"></i></div>
                            <div>23%<i class="ri-arrow-up-s-fill"></i></div>
                            <div>23%<i class="ri-arrow-up-s-fill"></i></div>
                            <div>81%<i class="ri-arrow-up-s-fill"></i></div>

                        </div>
                    </div>
                </div>
                <div class="report-items d-flex flex-column">
                    <div class="report-item">
                        <div class="d-flex justify-content-between align-items-center report-item-header">
                            <div class="modal-checkbox">
                                <div>یادگیری مجدد</div>
                                <div class="form-check d-flex justify-content-center mt-2">
                                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox"
                                        value="option1" aria-label="...">
                                </div>
                            </div>
                            <div class="d-flex align-items-center report-item-player">
                                <span>I go to school</span><i class="ri-play-circle-line"></i>
                            </div>
                        </div>
                        <div class="footer">
                            <label for="">راند آموزشی</label>
                            <label for="">تسلط نهایی</label>
                            <label for="">جعبه 3 </label>
                            <label for="">جعبه 2 </label>
                            <label for="">جعبه 1</label>
                            <div>2<i class="ri-arrow-up-s-fill"></i></div>
                            <div>23%<i class="ri-arrow-up-s-fill"></i></div>
                            <div>23%<i class="ri-arrow-up-s-fill"></i></div>
                            <div>23%<i class="ri-arrow-up-s-fill"></i></div>
                            <div>81%<i class="ri-arrow-up-s-fill"></i></div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-button d-flex justify-content-center">
                <button type="button" class="btn">مرور کلی</button>
            </div>
        </div>
    </div>
</div>
</div>