<div class="modal fade modal-fade report review-modal" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel"
  aria-hidden="true">
  <button type="button" class="close d-flex justify-content-center align-items-center" data-dismiss="modal"
    aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center ">
        <div class="modal-title d-flex justify-content-center align-items-center gap-2 " id="reviewModalLabel">
          مرور
          <i class="ri-book-open-line"></i>
        </div>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center w-100">
        <img src="/images/review.png" />
      </div>
      <div class="modal-button d-flex justify-content-around">
        <button type="button" class="btn">
          مرور صوتی
          <i class="ri-play-circle-fill"></i>
        </button>
        <button type="button" class="btn">
          مرور ترجمه
          <i class="ri-timer-2-fill"></i>
        </button>
        <button type="button" class="btn">
          مرور متنی
          <i class="ri-booklet-fill"></i>
        </button>
        <button type="button" class="btn">مرور کلی</button>
      </div>
    </div>
  </div>
</div>