    <div class="buttons d-flex justify-content-around py-3">
      <button type="button" class="btn rounded-pill">
        <span>اضافه کردن به تمرینات</span> <i class="ri-file-list-line"></i>
      </button>
      <button type="button" class="btn rounded-pill">
  <span> اضافه کردن به الگوهای مهم</span> <i class="ri-star-line gap-1"></i>
      </button>
      <button
        type="button"
        class="btn rounded-pill gap-1"
      >
        <span>اطلاعات </span>  <i class="ri-error-warning-line"></i></i>
      </button>
    </div>
  </div>