<div class="buttons d-flex justify-content-end justify-content-lg-between py-3">
  <div class="d-lg-flex d-none gap-lg-3 overview-buttons">
    {{>overview-buttons}}
  </div>
  <div
    class="buttons d-flex justify-content-end justify-content-lg-between gap-2"
  >
    <button type="button" class="btn rounded-pill px-lg-3">
      <i class="ri-file-list-line"></i><span>اضافه کردن به تمرینات</span>
    </button>
    <button type="button" class="btn rounded-pill px-lg-3">
      <i class="ri-star-line gap-1"></i><span> اضافه کردن به الگوهای مهم</span>
    </button>
    <button type="button" class="btn rounded-pill gap-1 px-lg-3">
      <i class="ri-error-warning-line"></i><span>اطلاعات </span>
    </button>
  </div>
</div>
