@font-face {
  font-family: sf ui display;
  font-style: normal;
  font-weight: 100;
  src: local("SF UI Display"),
    url(../assets/fonts/sf-ui-display/sf-ui-display-ultralight.woff)
      format("woff");
}
@font-face {
  font-family: sf ui display;
  font-style: normal;
  font-weight: 200;
  src: local("SF UI Display"),
    url(../assets/fonts/sf-ui-display/sf-ui-display-thin.woff) format("woff");
}
@font-face {
  font-family: sf ui display;
  font-style: normal;
  font-weight: 300;
  src: local("SF UI Display"),
    url(../assets/fonts/sf-ui-display/sf-ui-display-light.woff) format("woff");
}
@font-face {
  font-family: sf ui display;
  font-style: normal;
  font-weight: 500;
  src: local("SF UI Display"),
    url(../assets/fonts/sf-ui-display/sf-ui-display-medium.woff) format("woff");
}
@font-face {
  font-family: sf ui display;
  font-style: normal;
  font-weight: 600;
  src: local("SF UI Display"),
    url(../assets/fonts/sf-ui-display/sf-ui-display-semibold.woff)
      format("woff");
}
@font-face {
  font-family: sf ui display;
  font-style: normal;
  font-weight: 700;
  src: local("SF UI Display"),
    url(../assets/fonts/sf-ui-display/sf-ui-display-bold.woff) format("woff");
}
@font-face {
  font-family: sf ui display;
  font-style: normal;
  font-weight: 800;
  src: local("SF UI Display"),
    url(../assets/fonts/sf-ui-display/sf-ui-display-heavy.woff) format("woff");
}
@font-face {
  font-family: sf ui display;
  font-style: normal;
  font-weight: 900;
  src: local("SF UI Display"),
    url(../assets/fonts/sf-ui-display/sf-ui-display-black.woff) format("woff");
}
