:root {
  --gray: #f7f7f7;
  --gary1: #bfbebe;
  --faded-blue: #69adcd;
  --faded-blue1: rgba(105, 173, 205, 0.31);
  --warm-grey: #8f8f8f;
  --warm-yellow: #fbb040;
  --yellow: #ff9900;
  --tomato: #dc3545;
  --tomato1: #ff0000;
  --blue-navy: #2e3192;
  --warm-grey-Two: #dbdbdb;
  --white: #ffffff;
}

@import 'bootstrap';
@import 'remixicon/fonts/remixicon';

/* Components */
@import 'components/navbar';
@import 'components/content';

body {
  background-color: var(--white);
}
