:root {
  --gray: #f7f7f7;
  --faded-blue: #69adcd;
  --faded-blue1: rgba(105, 173, 205, 0.31);
  --white: #ffffff;
}

@import 'bootstrap';
@import 'remixicon/fonts/remixicon';

/* Components */
@import 'components/navbar';

body {
  background-color: var(--white);
}
